/*body {*/
/*    font-family: sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.container {*/
/*    width: 400px;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*    border: 1px solid #ccc;*/
/*}*/

/*h1 {*/
/*    margin-bottom: 20px;*/
/*}*/

/*label {*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*}*/

/*input[type=text], input[type=password] {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border: 1px solid #ccc;*/
/*    margin-bottom: 10px;*/
/*}*/

/*button {*/
/*    padding: 10px 20px;*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: #007bff;*/
/*}*/


.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}