<!DOCTYPE html>
<html lang="en" xmlns:th="http:://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="form">
    <form method="post" action="/changePassword" th:object="${passwordChangeRequest}">
        <h2>Change Password</h2>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="oldPassword" placeholder="Current password" required>
        </div>
        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="newPassword" placeholder="New Password">
        </div>
        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="confnewPassword" placeholder="Confirm New Password">
        </div>
        <div class="input-box">
            <input type="submit" name="sign-in" value="Change Password">
            <a href="/login">Login</a>
        </div>

        <div th:if="${message}" class="notification-message" th:text="${message}"></div>
        <div th:if="${error}" class="notification-error" th:text="${error}"></div>

    </form>
</div>
</body>
</html>


