<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Create Account</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Create Account</h1>-->

<!--<form action="#" th:action="@{/createAccount}" th:object="${user}" method="post">-->
<!--  <label for="fullname">Full Name:</label>-->
<!--  <input th:field="*{fullname}" type="text" name="fullname" required>-->
<!--  <br>-->

<!--  <label for="email">Gmail Address:</label>-->
<!--  <input th:field="*{email}" type="email" name="email" required>-->
<!--  <br>-->

<!--  <input type="submit" value="Create Account">-->
<!--</form>-->

<!--</body>-->

<!--</html>-->
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-9/assets/css/login-9.css">
</head>
<body>
    <section class="vh-100" style="background-color: #ffffff;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-9">

            <h1 class="text-dark mb-4">Create New Salesperson Account</h1>

            <form class="form-container" action="#" th:action="@{/createAccount}" th:object="${user}" method="post">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body">

                  <div class="row align-items-center pt-4 pb-3">
                    <div class="col-md-3 ps-5">

                      <h6 class="mb-0">Full name</h6>

                    </div>
                    <div class="col-md-9 pe-5">

                      <input th:field="*{fullname}" class="form-control form-control-lg" type="text" name="fullname" required />

                    </div>
                  </div>

                  <hr class="mx-n3">

                  <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">

                      <h6 class="mb-0">Email address</h6>

                    </div>
                    <div class="col-md-9 pe-5">

                      <input th:field="*{email}" class="form-control form-control-lg" type="email" name="email" required  placeholder="example@example.com" />

                    </div>
                  </div>

                  <hr class="mx-n3">

                  <div class="px-5 py-5 justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg mx-auto">Create New Account</button>
                  </div>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

<!--    <h1>Create Account</h1>-->

<!--    <form action="#" th:action="@{/createAccount}" th:object="${user}" method="post">-->
<!--      <label for="fullname">Full Name:</label>-->
<!--      <input th:field="*{fullname}" type="text" name="fullname" required>-->
<!--      <br>-->

<!--      <label for="email">Gmail Address:</label>-->
<!--      <input th:field="*{email}" type="email" name="email" required>-->
<!--      <br>-->

<!--      <input type="submit" value="Create Account">-->
<!--    </form>-->


</body>
</html>

